In [38]:
from statsmodels.regression.rolling import RollingOLS
#import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import pandas_ta
import warnings
from datetime import datetime, date
warnings.filterwarnings('ignore')

# Get SPY Data

In [23]:
import requests

url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
headers = {
    "User-Agent": "Chrome/117.0.0.0 Safari/537.36"
}
response = requests.get(url, headers=headers)

In [26]:
df_list = pd.read_html(response.text)
sp500 = df_list[0]

In [29]:
sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')
symbols_list = sp500['Symbol'].unique().tolist()

In [45]:
end_date = datetime.now().strftime('%Y-%m-%d')
end_date = pd.to_datetime(end_date)

start_date = end_date - pd.DateOffset(365*8)

In [48]:
df = yf.download(tickers=symbols_list)

[*********************100%***********************]  503 of 503 completed

In [51]:
df = df.stack()
df.index.names = ['date', 'ticker']

df.columns = df.columns.str.lower()

In [54]:
df

Price                   close        high         low        open    volume
date       ticker
2025-09-18 A       127.364250  128.282397  126.505973  127.503969   1513200
           AAPL    237.880005  241.199997  236.649994  239.970001  44249600
           ABBV    220.401108  220.480537  218.345917  219.487695   4445600
           ABNB    125.470001  125.720001  123.599998  123.739998   4235700
           ABT     133.974258  134.183320  131.515192  133.496372   5891700
...                       ...         ...         ...         ...       ...
2025-10-17 XYZ      75.199997   75.709999   73.379997   73.779999   4411700
           YUM     145.250000  146.240005  143.220001  143.770004   1503100
           ZBH     101.919998  102.099998   99.059998   99.820000   1158700
           ZBRA    293.309998  295.420013  290.690002  292.920013    413000
           ZTS     144.059998  144.570007  142.550003  143.130005   3748900

[11066 rows x 5 columns]

# Calculate features and technical indicators for each stock